[submodule "pandoc"]
	path = pandoc
	url = https://github.com/jgm/pandoc.git
[submodule "tools/rst2odp"]
	path = tools/rst2odp
	url = https://github.com/aptivate/rst2odp.git
[submodule "tools/fontspec"]
	path = tools/fontspec
	url = https://github.com/wspr/fontspec.git
