html, body, .background
{
	height: 100%;
}

.background .header
{
	height: 3em;
	background: #e5e5ef;
}

div.slide
{
	margin-top: 4em;
}

.header img
{
	margin-left: 1em;
	position: relative;
	top: 0.5em;
	height: 2em;
}

div.toolbar
{
	height: auto;
}
